<!DOCTYPE html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}">
	<script type="text/javascript"></script>
</head>

<body>
	<div>
		<h3>Your Gold</h3>
		<!-- enter gold counter here -->
	</div>.
	<div id="locs">
		<div class="destination">
			<h1>Farm</h1>
			<h2>(earn 10-20 gold)</h2>
			<form>
				<input type='submit' name='farmgold' value='Find Gold!'>
			</form>
		</div>
		<div class="destination">
			<h1>Cave</h1>
			<h2>(earn 5-10 gold)</h2>
			<form>
				<input type='submit' name='cavegold' value='Find Gold!'>
			</form>
		</div>
		<div class="destination">
			<h1>House</h1>
			<h2>(earn 2-5 gold)</h2>
			<form>
				<input type='submit' name='housegold' value='Find Gold!'>
			</form>
		</div>
		<div class="destination">
			<h1>Casino</h1>
			<h2>(earn/lose 0-50 gold)</h2>
			<form>
				<input type='submit' name='casinogold' value='Find Gold!'>
			</form>
		</div>

		<div>
			<h4>Activities:</h4>
			<!-- enter activities tracker here -->
		</div>
	</div>
</body>